<div class="modal-content">
  <h4>Login</h4>
  <form id="login" action="/rest-auth/login/" method="POST" enctype="multipart/form-data" onsubmit="login(); return false;">
    <div class="input-field">
      <input id="email" name="email" type="email" class="validate" required>
      <label for="email">E-mail</label>
    </div>
    <div class="input-field">
      <input id="password" name="password" type="password" class="validate" required>
      <label for="password"><span data-i18n="gis4dis-password">Password</span></label>
    </div>
    <div id="inline">
      <button class="btn waves-effect waves-light" type="submit" name="submit"><span data-i18n="gis4dis-login">Login</span></button>
      <div id="fb-root" style="height: 0px;display:none;"></div>
      <div class="g-signin2" data-width="250" data-height="40" data-longtitle="true" data-onsuccess="onSignIn" style="display: inline-block;"></div>
      <fb:login-button class="fb-login-button" style="display: inline-block;" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
    </div>
  </form>
  <br>
  <a href="#" class="waves-effect waves-teal btn-flat" onclick="loadToBottomSheet('registration.html')">Register</a>
  <a href="#" class="waves-effect waves-teal btn-flat" onclick="loadToBottomSheet('resetPassword.html')">Forgot password?</a>
</div>
  <script type="text/javascript" src="js/google-login.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script type="text/javascript" src="js/facebook-login.js"></script>