<div class="modal-content">
  <h4 class="translate" data-args="g4d-forgotpassword">Forgot password</h4>
  <form id="resetPassword" action="/rest/rest-auth/password/reset/" method="POST" enctype="multipart/form-data">
    <div class="input-field">
      <input id="email" type="email" class="validate">
      <label for="email" class="translate" data-args="g4d-email">E-mail</label>
    </div>
    <button class="btn waves-effect waves-light translate" type="submit" name="submit" data-args="g4d-resetpassword">Reset password
      <i class="material-icons right">send</i>
    </button>
  </form>
  <br>
  <a href="#" class="waves-effect waves-teal btn-flat translate" onclick="loadToBottomSheet('login.html')" data-args="g4d-log-in">Log in</a>
</div>